.main{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 3rem;
}

img{
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.content{
    display: flex;
    flex-wrap: wrap;
}
.but{
    background-color: aquamarine;

   border: 1px solid aquamarine;
   padding: 10px 20px;
    margin: 0.3rem;
    border-radius: 16px;
}

p{
    margin-top: 1rem;
}